@layer cal-base {

.presetsContainer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  align-items: stretch;
  gap: 0.25em;
  padding: 0.75em 0.3em;
  border-top: var(--cal-border) solid var(--c-s);
  height: auto;
  z-index: 3;
  transition: all var(--cal-transition) linear;
  &:hover {
    box-shadow: 0 -0.1em 0.1em var(--c-x);
  }
}

@container (max-width: 320px) {
  .presetsContainer {
    grid-template-columns: repeat(3, 1fr);
  }
}

.presetItem {
  justify-self: center;
  align-self: center;
  width: 95%;
  height: auto !important;
  min-height: 2.1em;
  padding-top: 1em !important;
  padding-bottom: 1em !important;
  font-size: 0.8em !important;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}

.inactiveItem {
  background: transparent;
}

}
