@layer appearances {
  [data-appearance="bubble"] {
    --cal-radius: 1.5em;
    --cal-container-radius: 2.2em;
    --header-min-height: 4em;
    --cal-border: 1px;
    --cal-spacing: 0.7em;
    --cal-shadow-sm: 0 0.15em 0.5em var(--c-x);
    --cal-shadow-md: 0 0.25em 0.9em var(--c-x);
    --cal-shadow-lg: 0 0.35em 1.4em var(--c-x);
    --cal-font-size: clamp(12px, 2.9cqw, 19px);
    --cal-transition: 0.28s;
    --cal-days-padding: 1em;
    --cal-track-height: 4.5em;
    --cal-day-ratio: 1 / 1;
  }
}
