@layer cal-base {

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 0;
  overflow: hidden;
  text-transform: uppercase;
  user-select: none;
  color: var(--c-m, var(--c-c));
  font-size: 0.6em;
  font-weight: 600;
}

.weekendDark,
.weekendLight {
  color: var(--c-we);
  font-weight: 700;
}

}
